@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 88% 94%;
    --foreground: 210 10% 23%;
    --card: 207 88% 94%;
    --card-foreground: 210 10% 23%;
    --popover: 207 88% 94%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 82% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 80% 88%;
    --secondary-foreground: 210 10% 23%;
    --muted: 207 80% 88%;
    --muted-foreground: 210 7% 45%;
    --accent: 36 100% 65%;
    --accent-foreground: 30 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 80% 80%;
    --input: 207 80% 80%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 36 100% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 207 88% 96%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 207 80% 90%;
    --sidebar-accent-foreground: 210 10% 15%;
    --sidebar-border: 207 80% 85%;
    --sidebar-ring: 207 82% 68%;
  }
  .dark {
    --background: 210 10% 12%;
    --foreground: 210 40% 98%;
    --card: 210 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 40% 65%;
    --accent: 36 100% 65%;
    --accent-foreground: 30 10% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 36 100% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 210 10% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 25%;
    --sidebar-ring: 207 82% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
